@import "../abstracts/variables";
@import "../abstracts/mixins";

.contenido-estatico {
  @include grid(grid, 1fr);
  padding: 0px 30px 30px 30px;
  width: 100%;
  margin: 0;
  .titulos-seccion{
    width: 100%;
    margin: 40px 0px 10px;
    padding: 0px 0px;
    h1{
      font-size: 1.3rem;
    }
  }
  .bloque{
    padding-bottom: 30px;
    margin-bottom: 30px;
    @include grid(grid,1fr);
    @include border-bottom(1px, solid, #ccc);

    div{
        margin-bottom: 15px;
    }
    div:last-child{
        margin-bottom: 0px;
    }
    .texto{
        .subtitulo{
            font-size: 1.1rem;
            font-weight: 600;
        }
    }
  }
  .bloque:last-child{
    margin-bottom: 0px;
    border-bottom: 0px solid #ccc;
  }
}

