@import "../abstracts/variables";
@import "../abstracts/mixins";

.productos {
  @include grid(grid, 1fr);
  gap: 15px;
  width: 100%;
  margin: 0;

  .items {
    margin: 30px;
    padding: 30px;
    background-color: $bg-quaternary-color;
    @include border(1px, solid, #ccc);
    h2{
      font-size: 1.1rem;
    }
    .imagen {
      width: 100%;
    }
    .link {
      padding: 8px 15px;
      color: $bg-primary-color;
      background-color: $bg-tertiary-color;
      font-size: 600;
      text-decoration: none;
    }
  }
}
.padding-lateral {
  padding: 0px 30px;
}
.columns {
  @include grid(grid, 1fr);
}
.titulo-home{
  width: 100%;
  margin: 40px 0px 10px;
  padding: 0px 30px;
  h1{
    font-size: 1.3rem;
    font-weight: 700;
  }
}
.titulos-seccion{
  width: 100%;
  margin: 40px 0px 10px;
  padding: 0px 30px;
  h1{
    font-size: 1.3rem;
    font-weight: 700;
  }
}