@import "../abstracts/variables";
@import "../abstracts/mixins";

/* Media query para tabletas */
@media (min-width: 1024px) {
  .header {
    @include grid(grid, 1fr 2fr);
    padding: 25px;
    a {
      padding: 8px 20px;
    }
  }
  .footer {
    @include grid(grid, 1fr 1fr);
  }
  .productos {
    @include grid(grid, 1fr 1fr);
    gap: 15px;
    width: 1170px;
    margin: 0 auto;
    .items {
      h2{
        font-size: 1.5rem;
      }
    }
  }
  .productos-container {
    width: 1170px;
    margin: 0 auto;
    @include grid(grid, 1fr 4fr);
    .titulos-seccion{
      h1{
        font-size: 1.8rem;
      }
    }
    .productos-group {
      @include grid(grid, 1fr 1fr 1fr);
      .productos-items {
        margin: 1px;
        padding: 30px;
        h2{
          font-size: 1.5rem;
        }      
      }

    }
  }
  .contenido-estatico {
    .contenido-estatico__bloque--unafraccion {
      grid-template-columns: 900px;
    }
  }
  .titulo-home{
    width: 1170px;
    margin: 40px auto 10px;
    h1{
      font-size: 1.8rem;
    }
  }
}